body {
    margin: 0;
    margin-bottom: 0;
    font-family: 'Roboto Mono', monospace;
    color: black;
  }
header a {
    
    font-weight: 200;
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
}

.brand-title {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 3rem;
  margin: .5rem;
  margin-left: 3rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 1.rem;
  padding: 0;
  margin-right: 3em;
}

.navbar-links li {
  list-style: none;
  
}

.navbar-links li:hover {
  scale: 1.05;
  transition: .3s;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: rgb(36, 36, 36);
  padding: 1.5rem;
}

.navbar-links a:hover {
  color: black;
  transition: .5s;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
}

@media (max-width: 500px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}



    
  .grid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    max-width: 1000px;
  }
  
  .img-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .img-wrapper > img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
  }
  
  .img-wrapper > .content {
    position: absolute;
    inset: 0;
    padding: 1em;
    background: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: start;
  }
  
  .img-wrapper > img,
  .img-wrapper > .content {
    transition: 200ms ease-in-out;
  }
  
  .img-wrapper:hover > img.blur {
    filter: blur(5px);
  }
  
  .img-wrapper:hover > img.gray {
    filter: grayscale(1);
  }
  
  .img-wrapper:hover > img.zoom {
    transform: scale(1.1);
  }
  
  
  
  .img-wrapper > .content.slide-up {
    transform: translateY(100%);
  }
  .img-wrapper:hover > .content.slide-up {
    transform: translateY(85%);
  }

.learn-more {
    font-size: 1em;
    color: black;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}


.about-me {
    padding: 10vw;
    margin-top: 10em;
    background-color: rgb(195, 195, 195);
    height: 100vh;
}

.about-me-img {
  width: 300px;
  height: 300px;
  background-color: #ccc;
  border-radius: 50%;
  overflow: hidden;
  justify-content: flex-end;
  
}

.about-me-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-me-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}
.about-me p {
  display: inline-block;
}

@media (max-width: 768px) {
  .about-me-head {
    flex-direction: column;
  }
}

h2 {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.album {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10em;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 2em;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.photo {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.footer-content {
  background-color: #ccc;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 10vw;
  height: 25vw;
}

p, .footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vw;
  justify-content: space-evenly;
  list-style: none;
}
.footer-links ul {
  padding: 5em;
}

.footer-links a {
  text-decoration: none;
  color: black;
}
.footer-links li:hover {
  scale: 1.05;
  transition: .3s;
}

/* game canvas */
#defaultCanvas0 {
  display: block;
  margin: 0 auto;
}

.button-resume {
  font-size: 1em;
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(61, 60, 60);
  color: white;
  border: black;
  border-radius: 1em;
  padding: 1em;
  padding-top: .5em;
  padding-bottom: .5em;  
}

.button-resume:hover {
  scale: 1.05;
  background-color: rgb(0, 0, 0);
  transition: .3s;
}
